@import url(base.css);
header{
	width: 100%;
	height: 650px;
	position: relative;
}
.banner{
	width: 100%;
	height: 650px;
	position: relative;
	top: 0;
	left: 0;
}
.banner li{
	width: 100%;
	height: 650px;
	position: absolute;
	top: 0;
	left: 0;
	/* opacity:0; */
}
.banner li img:last-child{
	opacity:1;
}
.banner li img{
	width:100%;
	height: 650px;
	opacity:0;
}
.list{
	width: 100%;
	height: 65px;
	position: absolute;
	top:0;
	left: 0;
	background:rgba(0,0,0,0.6);
}
.head{
	width: 1160px;
	height: 65px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background:rgba(0,0,0,0.6); */
	position: absolute;
	right: 0;
	left:0;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
}
.head-left img{
	width: 174px;
	height: 46px;
}
.head-right{
	width: 800px;
	height: 65px;
}
.head-right li{
	width: 133.31px;
	padding:0 3px;
	height: 65px;
	float: left;
}
.head-right li a{
	font-size:14px;
	text-align:center;
	line-height:65px;
	color: #fff;
	display: block;
}
.head-right li:hover{
	background:rgba(255,128,0,0.4);
}
.dian{
	position: absolute;
	bottom: 5px;
	left: 50%;
	cursor: pointer;
}
.dian li{
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background: #fff;
	float:left;
	margin-left:10px;
}
.dian li:first-child{
	background:red;
}
.left{
	width: 50px;
	height: 60px;
	position: absolute;
	left:10px;
	top: 50%;
	font-weight: bold;
	font-size:42px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.right {
	width: 50px;
	height: 60px;
	position: absolute;
	right:10px;
	top: 50%;
	font-weight: bold;
	font-size:42px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	cursor: pointer;	
}
/* head */

/* 2 */
section{
	width: 100%;
	height: auto;
}
.women{
	width: 1100px;
	height:81px;
    margin: 0 auto;
    padding: 40px  0  15px;
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: space-between;
}
.women-left{
      color: #f2545d;
}
.women-right a{
	    color: #858586;
}
.lianxi{
	width: 1100px;
	height: 484px;
	margin:0 auto;
	padding:50px 0;
	display:flex;
	justify-content: space-between;
}
.weizi{
	width: 636px;
	height: 378px;
}
.lianxi ul{
	width: 418px;
	height: 386px;
	padding-left:30px;
}
.lianxi ul li{
	width:386px;
	height: 121px;
	border-top: 1px dashed #ccc;
    padding: 30px 0;
    display: flex;
}
.lianxi ul li img{
	width: 60px;
	height: 60px;
}
.lian{
   margin-left: 10px;
}
.lian h2{
	margin-bottom:10px;
	font-size:20px;
}
.liuyanban{
	width:1100px;
	height:100px;
	margin:0 auto;
}
.liuyanban a{
	display:block;
	width: 200px;
	height: 50px;
	margin:0 auto;
	background:red;
	outline:0;border: none;
	font-size:20px;
	text-align:center;
	color:#fff;
	line-height:50px;

}

/* 2 */

/* di */
footer{
	width: 100%;
	height: 249px;
	background: #e1e1e1;
}
.foot{
	width: 1100px;
	height: 249px;
	margin:0 auto;
	padding: 50px 0;
	display: flex;
}
.foot-left{
	width:148px;
	height: 149px;
}
.foot-left>img{
	width:148px;
	height: 149px;
}
.foot-right{
	width: 850px;
	height: 141px;
	margin-left: 40px;
}
.foot-right>p{
	margin-bottom: 80px;
}
.foot-box{
	margin-right:20px;
	float: left;
}
.foot-box>img{
	width: 38px;
	height:41px;
	float: left;
}
.foot-box>div{
  margin-left: 50px;
}

/* di */